---
layout: default
---
<div class="slider" aria-hidden="true">
	<ul class="slider-list">
		{% assign sorted_members= (site.members | sort: 'pos') %}
		{% for member in sorted_members %}
		{% if member.image %}
			<li class="slider-item" style="background-image: url({{ member.image |  prepend: "/assets/images/members/profile/" | prepend: site.baseurl }})">
				<header class="slide-title"><h2><a href="{{ member.url | prepend: site.baseurl }}">{{ member.title }}</a></h2></header>
			</li>
		{% endif %}
		{% endfor %}
	</ul>
	<nav class="slider-navigation">
		<button class="slider-arrow prev"><i class="fa fa-chevron-left"></i></button>
		<button class="slider-arrow next"><i class="fa fa-chevron-right"></i></button>
	</nav>
</div>
<div class="page-content">
	{% assign nowunix = 'now' | date: '%s' %}
	{% for post in site.categories.main %}
		{% assign posttime = post.date | date: '%s' %}
		{% if (post.expires == null || !post.expires) or posttime >= nowunix %}
		<article class="h-entry home-post">
			<h2 class="p-name"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
			<div class="p-summary">
				{{ post.content }}
				{% if post.image != null %}<a href="/assets/images/ads/{{post.image}}" class="post-imageLink"><img src="/assets/images/ads/{{post.image | replace: '.jpg', '.thumb.jpg' | replace: '.png', '.thumb.png'}}" alt="{{post.imageAlt}}" class="post-image"></a>{% endif %}
				{% if post.readon %}<a href="{{ post.url | prepend: site.baseurl }}">&#8594; Weiterlesen</a>{% endif %}
			</div>
		</article>
		{% endif %}
	{% endfor %}
</div>
