<footer class="footer">
	<span class="footer-part">&copy; 2015 Tomb of Giants</span>
	<span class="footer-part">
		<a href="https://www.facebook.com/tombofgiants" target="_blank" title="{{ site.title }} auf Facebook"><i class="footer-icon fa fa-facebook-square fa-2x fa-fw" title="Link zur Facebook Seite" aria-label="Facebook Icon"></i></a>
		&nbsp;
		<a href="https://soundcloud.com/tomb-of-giants" target="_blank" title="{{ site.title }} auf Soundcloud"><i class="footer-icon fa fa-soundcloud fa-2x fa-fw" aria-label="Soundcloud Icon"></i></a>
	</span>
	<span class="footer-part">
		<a href="#" class="footer-link">Kontakt</a>
		<a href="/imprint/" class="footer-link">Impressum</a>
	</span>
</footer>