body, html {
	height: 100%;
	width: 100%;
	@media #{$mobile} {
		overflow-x: hidden;
	}
}

html {
	box-sizing: border-box;
	font-family: $openSans;
}

body {
	-webkit-overflow-scrolling: touch;
	margin: 0 auto;
	background: $darkGray;
	color: $white;
	@media #{$desktop} {
		max-width: 1280px;
		border: 1px solid darken($darkGray, 5%);
		border-top: none;
		border-bottom: none;
		overflow-x: hidden;
	}

	font-weight: 300;
}

a {
	color: lighten($darkGray,60%);
	text-shadow: 1px 1px 1px darken($darkGray, 5%);
	text-decoration: none;

	font-family: $lato;
	font-weight: 300;
	&:hover {
		color: lighten($darkGray,75%);
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $lato;
	@media #{$desktop} { font-weight: 100; }
	@media #{$mobile} { font-weight: 300; }
	a {
		font-weight: 100;
		transition: 0.5s ease;
	}
}

.sr-only {
	position: absolute;
	height: 1px;
	width: 1px;
	top: auto;
	left: -9999999999999px;
	overflow: hidden;
}

.footer {
	float: left;
	@media #{$desktop} { height: $footer-height; }
	line-height: $footer-height;
	width: 100%;
	margin: 0;
	padding: 0;
	background: $green;
	@media #{$desktop} { font-size: 0.85em; }
	text-shadow: 1px 1px 1px darken($darkGray, 5%);
	box-shadow: 0px -5px 9px -6px black;
}
.footer-part {
	display: inline-block;
	float: left;
	@media #{$desktop} { width: (100%/3); height: $footer-height; }
	@media #{$mobile} { width: 100%; text-align: center; min-height: $footer-height; }
	box-sizing: border-box;
}

@media #{$mobile} {
	.footer-part:nth-child(2){
		display: none;
	}
	.footer-part a {
		width: 100%;
		height: $footer-height;
	}
}

@media #{$desktop} {
	.footer-part:first-child {
		padding-left: 2%;
		text-align: left;
	}
	.footer-part:nth-child(2){
		text-align: center;
	}
	.footer-part:last-child {
		padding-right: 2%;
		text-align: right;
	}
}
.footer-link {
	display: inline-block;
	margin: 0 1%;
}
.footer-icon {
	line-height: $footer-height;
	margin: 0 2%;
}
