main {
	position: relative;
	float: left;
	display: block;
	width: 100%;
	min-height: calc(100% - ($header-logo-height + $header-nav-height + $footer-height + 3) - $content-margin);
	margin: 0 0 $content-margin 0;
}
.main--subMenu {
	min-height: calc(100% - ($header-logo-height + ($header-nav-height*2) + $footer-height + 5) - $content-margin);
}
.page-content {
	display: block;
	box-sizing: border-box;

	width: 100%;
	max-width: $content-width;
	margin: 0 auto;
	@media #{$desktop} { padding: 0 1%; }
	@media #{$mobile} { padding: 0 1em; }

	color: #cecece;
	font-size: 0.95em;
}
.post-title,
.page-title,
.p-name {
	display: inline-block;
	text-transform: uppercase;
	text-align: justify;
	margin: 1.83rem 0 0.83rem 0;
	width: 100%;
}
p {
	margin: 1rem 0;
}
.p-meta,
.p-summary,
.e-content {
	padding: 0 10px;
	box-sizing: border-box;
}
.page {
	position: relative;
}
.page-image {
	width: 100%;
}
.page-image-wrap {
	width: 100%;
	min-height: 4.5rem;
	max-height: 450px;
	overflow: hidden;
}
.page-content--pullTop {
	position: relative;
	@media #{$desktop} { margin-top: -4.5rem; }
	background: $darkGray;
	z-index: 2;
}
.page-title--pullTop {
	margin: 0;
	line-height: 4.5rem;
}
.post-imageLink {
	text-decoration: none;
	border: none;
	outline: none;

	display: inline-block;
	max-width: 100%;
}
.post-image {
	width: 100%;
	max-width: 300px;
}
.post-image--large {
	max-width: 100%;
}
.slider {
	display: none;
	visibility: hidden;
	position: relative;
	overflow: auto;
	height: 350px;
	z-index: 1;
}
.slider--visible {
	display: block;
	visibility: visible;
}
.slider-list {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	z-index: 1;
}
.slider-item {
	position: relative;
	list-style: none;
	float: left;
	height: 100%;
	width: 100%;
	color: #fff;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	z-index: 1;
}
.slider-navigation {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	width: 105px;
	height: 50px;
	line-height: 50px;
}
.slider-arrow {
	-webkit-appearance: none;
	outline: none;
	border: none;

	display: inline-block;
	float: left;
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;

	background: #000;
	color: #fff;
	text-align: center;

	box-sizing: border-box;
	transition: 0.5s ease;
	&:first-child {
		margin-right: 5px;
	}
	&.next {
		padding: 0 0 0 5px;
	}
	&:hover {
		background: $green;
	}
}
.slide-title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 450px;
	height: 100px;
	line-height: 100px;
	background: #000;
	text-align: center;
	text-transform: uppercase;
}
.slide-title h2 {
	margin: 0;
}
.slide-title a {
	color: #fff;
}
.slide-title a:hover {
	color: $green;
}

.members {
	@media #{$mobile} {
		max-width: 400px;
		margin: auto;
		&:before, &:after {
			content: "";
			display: table;
		}
		&:after {
			clear: both;
		}
		zoom: 1;
	}
}

.member {
	display: inline-block;
	position: relative;
	@media #{$desktop} {
		width: 18%;
		max-width: 200px;
		margin: .5rem 0 .5rem 2%;
		&:first-child {
			margin-left: 0;
		}
	}
	@media #{$mobile} {
		float: left;
		width: 48%;
		max-width: 192px;
		margin: 0.5em 1%;
	}
}

.member-image {
	max-width: 100%;
}

.member-name {
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	background: #144f00;
	text-align: center;
}

.header-button {
	display: inline-block;
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	background: #ffffff;
	color: #000000;
	text-shadow: none;
}

.header-button--facebook {
	background: #3b5998;
	color: #ffffff;
	text-align: center;
}

// Font Awesome Alignment fix
.fa {
	vertical-align: middle;
}