$green: #144f00;
$black: #000000;
$darkGray: #161f12;
//$lightGray:;
$white: #c5dcbd;

// Sizes
// -------------------------
// Body Width
$body-width: 1280px;
// HEADER
$header-logo-height: 200px;
$header-nav-height: 50px;

// CONTENT
$content-margin: 0.83rem;
$content-width: $body-width - 600px;

// FOOTER
$footer-height: 50px;

// Responsive Breakpoints
// -------------------------
$screen: "only screen";
$mobile: "(max-width : 680px)";
$desktop: "(min-width: 1025px)";

// Font Stacks
// -------------------------
$openSans: "Open Sans", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
$lato: "Lato", "Helvetica Neue Light", Helvetica, Arial, sans-serif;