<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		{% if page.hasSubs == true or page.parent != null %}
		<main role="main" class="main--subMenu">
	{% else %}
		<main role="main">
	{% endif %}
			{{ content }}
		</main>
		{% include footer.html %}
		<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		{% if page.url == "/index.html" %}
		<script type="text/javascript" src="{{ "/assets/js/slider-min.js" | prepend: site.baseurl }}" async></script>
		{% endif %}
		{% if page.parent == "/band/" %}
		<script type="text/javascript">
			$(document).ready(function() {
				var imageHeight = window.innerHeight - $(".header").height() - ($(".header-navigation").height()*2);
				$(".page-image-wrap").css("max-height", imageHeight);
			}
		</script>
		{% endif %}
	</body>
</html>