<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		{% if page.hasSubs == true or page.parent != null %}
		<main role="main" class="main--subMenu">
	{% else %}
		<main role="main">
	{% endif %}
			{{ content }}
		</main>
		{% include footer.html %}
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		{% if page.image %}
		<script type="text/javascript">
			$(document).ready(function() {
				var imageHeight = window.innerHeight - $(".header").height() - ($(".header-navigation").height(){% if page.hasSubs %}*2{% endif %});
				if (imageHeight > 350) {
					$(".page-image-wrap").css("max-height", imageHeight);
				} else {
					$(".page-image-wrap").css("max-height", 350);
				}
			});
		</script>
		{% endif %}
	</body>
</html>