<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		{% include header.html %}
		{% if page.hasSubs == true or page.parent != null %}
		<main role="main" class="main--subMenu">
	{% else %}
		<main role="main">
	{% endif %}
			{{ content }}
		</main>
		{% include footer.html %}
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="{{ "/assets/js/unslider.js" | prepend: site.baseurl }}"></script>
		{% if page.url == "/index.html" %}
		<script type="text/javascript">
			$('.slider').addClass('slider--visible');
			$('.slider').unslider({
				speed: 500,               //  The speed to animate each slide (in milliseconds)
				delay: 3000,              //  The delay between slide animations (in milliseconds)
				complete: function() {},  //  A function that gets called after every slide animation
				keys: true,               //  Enable keyboard (left, right) arrow shortcuts
				dots: true,               //  Display dot navigation
				fluid: false              //  Support responsive design. May break non-responsive designs
			});
		</script>
		{% endif %}
		{% if page.parent == "/band/" %}
		<script type="text/javascript">
			var imageHeight = window.innerHeight - $(".header").height() - ($(".header-navigation").height()*2);
			$(".page-image-wrap").css("max-height", imageHeight);
		</script>
		{% endif %}
	</body>
</html>
